@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

.section-heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.section-paragraph {
  text-align: center;
  line-height: 1.6;
  font-family: "Noto Sans KR", sans-serif;
}
